html, body{
    height: 100%;
    margin: 0 auto;
}

#main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
    min-height: 100%;
    background-color: #656D78;
    background-image: url("../img/homebackground.jpg");
}

#info-container{
    margin-top: 5%;
}

#info-container img{
    z-index: 0;
    width: 1800px;
    height: 400px;
}

#start{
    position: absolute;
    top: 450px;
    z-index: 9000;
    width: 35%;
    height: 90%;
    background-color: #F5F7FA;
    -webkit-clip-path: polygon(0 0, 95% 0, 52% 100%, 0% 100%);
    clip-path: polygon(0 0, 95% 0, 52% 100%, 0% 100%);
    border-radius: 2%;
    border: 2px solid white;
}
#start-clip{
    position: absolute;
    top: 450px;
    z-index: 8000;
    width: 55%;
    height: 90%;
    background-color: rgba(255, 165, 0, 0.9);
    border-radius: 2%;
    border: 2px solid #FFA500;
    text-align: right;
    padding-top: 110px;
    padding-left: 617px;
    text-align: center;
}
#sign-up{
  border: 4px solid white;
  width: 250px;
  color: white;
  padding:5px;
  background-color: #FFA500;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: 4px 4px 0px 0px rgba(255,255,255,1);
  box-shadow: 4px 4px 0px 0px rgba(255,255,255,1);
}
#userpostsfeed{
  width: 700px;
  height: 100px;
  color: black;
  background-color: white;
  margin-bottom: 4px;
}
#forum-feed{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 450px;
    right: 2px;
    z-index: 9000;
    width: 43.5%;
    height: 90%;
    border: 2px solid #FFA500;
    border-radius: 2%;
    background-color: rgba(255, 165, 0, 0.9);
    text-align: center;
    color: white;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

ul {
    display: flex;
    position:fixed;
    justify-content: flex-end;
    flex-direction:row;
    align-items: center;
    list-style-type: none;
    z-index: 9000;
    width: 100%;
    height: 6vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282d33;
}

li:first-child {
    margin-right: auto;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0 auto;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: white;
    background-color: #464c54;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

img {
    width: 100px;
    height: 50px;
}

.logo-text{
    margin: 0;
    margin-right: 145vh;
}

.top-users{
  background-color: black;
  height: 90px;
  width: 100px;
  margin-bottom: 4px;
  margin-left: 20px;
  z-index: 1;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
}

nyeh
